@import url();
.browser {
  background-color: #EBEBEB;
  border-radius: 4px;
  margin: 50px auto;
  width: 90%;
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.browser-header {
  flex-basis: auto;
  height: 35px;
  background: #ebebeb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #d9d9d9));
  border-bottom: 1px solid #969696;
  display: flex; }

.browser-btns {
  height: 35px;
  display: inline-block;
  padding: 0 10px;
  line-height: 38px;
  width: 55px;
  flex-basis: auto; }

.browser-btn {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  display: inline-block;
  margin: 1px; }

.browser-btn.close {
  background-color: #FD615B; }

.browser-btn.retract {
  background-color: #FDBC40; }

.browser-btn.expand {
  background-color: #33C84A; }

.tabs {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 35px;
  max-height: 35px;
  display: inline-block;
  padding: 0 12px; }
  .tabs .tab {
    color: #333;
    float: left;
    margin: 10px -10px 0;
    border-top-right-radius: 25px 170px;
    border-top-left-radius: 20px 90px;
    padding: 0 30px 0 25px;
    height: 170px;
    background: #CBCCCC;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    width: 100px;
    border: 1px solid #B4B4B4;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    line-height: 25px;
    cursor: pointer; }
    .tabs .tab:before, .tabs .tab:after {
      content: "";
      background: transparent;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      border-width: 10px;
      top: 0px;
      border-style: solid;
      position: absolute; }
    .tabs .tab:before {
      border-color: transparent #CBCCCC transparent transparent;
      -webkit-transform: rotate(50deg);
      left: -23px; }
    .tabs .tab:after {
      border-color: transparent transparent transparent #CBCCCC;
      -webkit-transform: rotate(-50deg);
      right: -17px; }
    .tabs .tab .fa {
      font-size: 13px; }
    .tabs .tab .close {
      position: absolute;
      right: 25px;
      top: 0px;
      display: inline-block;
      color: #888;
      margin-left: 5px; }
    .tabs .tab .close:after {
      position: absolute;
      content: "";
      width: 139px;
      display: block;
      height: 1px;
      background: #969696;
      z-index: 3;
      top: 24px;
      right: -15px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8); }
  .tabs .tab.active {
    background: #EBEEEB; }
  .tabs .tab.active:before {
    border-color: transparent #EBEEEB transparent transparent;
    z-index: 2; }
  .tabs .tab.active:after {
    border-color: transparent transparent transparent #EBEEEB;
    z-index: 2; }
  .tabs .tab.active .close:after {
    display: none; }

.browser-bar {
  flex-basis: auto;
  height: 28px;
  background: #EBEEEB;
  z-index: 15;
  padding: 6px;
  border-bottom: 1px solid #aaa;
  display: flex; }
  .browser-bar .button {
    flex-basis: auto;
    text-align: center;
    font-size: 17px;
    color: #6D6D6E;
    padding: 3px;
    display: inline-block;
    width: 20px;
    border: 1px solid #EBEEEB; }
  .browser-bar .button:not(.inactive):hover {
    border: 1px solid #b4bfb4;
    cursor: pointer;
    border-radius: 3px; }
  .browser-bar .button.inactive {
    opacity: 0.3; }
  .browser-bar .address {
    flex: 1;
    font-family: Verdana, sans-serif;
    background: #fff;
    border-radius: 3px;
    margin: 0px 3px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    color: #555;
    white-space: nowrap; }
    .browser-bar .address a {
      text-decoration: none; }
    .browser-bar .address .info {
      border-radius: 50%;
      display: inline-flex;
      border: 2px solid #6a6a6a;
      width: 7px;
      padding-left: 2px;
      padding-right: 2px;
      justify-content: center;
      vertical-align: middle;
      margin-bottom: 5px;
      margin-right: 5px;
      font-size: 0.6em; }
      .browser-bar .address .info:hover {
        cursor: pointer;
        border: 2px solid #000;
        color: #000; }

.page {
  flex: 1;
  background: white;
  z-index: 10;
  text-align: center;
  overflow-y: auto;
  position: relative; }

.web-img {
  width: 100%;
  display: none; }

.active-img {
  display: block; }

nav {
  display: inline-flex;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  background-color: white;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1); }
  nav h3 {
    font-family: times;
    border-left: 1px solid #dadada;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 1.5em;
    position: relative;
    background-color: transparent;
    z-index: 0; }
    nav h3:hover {
      font-weight: 500;
      cursor: pointer; }
  nav .social {
    width: 70%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center; }
    nav .social img {
      box-sizing: border-box;
      width: 30px;
      margin-right: 10px; }
      nav .social img:hover {
        border-radius: 50%;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
        background-color: #90FFC2; }

.parallax {
  background-color: #000;
  background-image: url(./assets/stock.jpg);
  background-position: center;
  background-size: contain;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%; }

.parallax__layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%; }

.parallax__layer--base {
  box-sizing: border-box;
  width: 95%;
  height: 2000px;
  top: -200px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  transform: translateZ(0) translateY(160vh);
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column; }

.projects {
  top: 800px;
  margin-bottom: 400px;
  height: 600px;
  background-color: transparent;
  box-shadow: none; }
  .projects .port-box img {
    width: 400px;
    margin-left: 10%;
    border: 3px solid black;
    border-radius: 20px; }

.parallax__layer--back {
  box-shadow: 0 -5px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100vw;
  height: 1000px;
  margin-top: 1400px;
  transform: translateZ(-1px) scale(2); }

.name-wrapper {
  font-family: arial;
  width: 95%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 700px; }
  .name-wrapper h1 {
    text-align: center;
    color: #000; }
  .name-wrapper .portrait {
    display: block;
    transform: translateZ(-3px);
    height: 300px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 300px;
    border-left: 20px solid white;
    border-right: 20px solid white;
    background-color: #000;
    background: url("./assets/cb-web2.jpg");
    background-size: cover;
    background-position: center; }

.ribbon {
  position: relative;
  display: block;
  margin-left: -0.5rem;
  margin-top: 50px;
  top: 0;
  left: 0;
  width: 150px;
  padding: 0.5rem 2rem;
  color: #000;
  font-size: 2rem;
  background-color: #90FFC2; }
  .ribbon::after {
    border-color: #00a44a #00a44a transparent transparent;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 0.3rem;
    border-style: solid; }

.box {
  position: relative;
  box-sizing: border-box;
  border-top: 5px dashed #90FFC2;
  border-bottom: 5px dashed #90FFC2;
  background-color: white;
  margin-bottom: 20px;
  width: 110%;
  margin-left: -5%;
  display: inline-block;
  box-shadow: 0px 20px 44px 22px rgba(0, 0, 0, 0.2);
  font-family: times; }

.box-2 {
  /* 12em = half the width of the wrapper */ }
  .box-2 .ribbon-2 {
    margin-bottom: 0; }
  .box-2 .tech-logo {
    position: relative;
    width: 16em;
    height: 16em;
    padding: 2.8em;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px; }
    .box-2 .tech-logo img {
      height: 70px;
      margin-bottom: 20px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -2em; }
  .box-2 .deg0 {
    transform: translate(6em); }
  .box-2 .deg45 {
    transform: rotate(45deg) translate(6em) rotate(-45deg); }
  .box-2 .deg90 {
    transform: rotate(90deg) translate(6em) rotate(-90deg); }
  .box-2 .deg135 {
    transform: rotate(135deg) translate(6em) rotate(-135deg); }
  .box-2 .deg180 {
    transform: translate(-6em); }
  .box-2 .deg225 {
    transform: rotate(225deg) translate(6em) rotate(-225deg); }
  .box-2 .deg270 {
    transform: rotate(270deg) translate(6em) rotate(-270deg); }
  .box-2 .deg315 {
    transform: rotate(315deg) translate(6em) rotate(-315deg); }

.quote {
  text-align: center;
  font-size: 4.3vw;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  height: 486px;
  position: relative;
  top: -130px;
  margin-bottom: -130px; }
  .quote h2 {
    position: absolute; }
  .quote li {
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 5px solid #00a44a;
    background-color: #90FFC2;
    color: #000;
    width: 100%;
    padding: 5px; }
    .quote li:first-of-type {
      margin-top: 130px; }
    .quote li a:visited {
      color: #A76BCC; }

.logo {
  width: 100px; }
  .logo:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1); }

.ribbon-name {
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 95%;
  position: relative;
  background: #90FFC2;
  padding: 1em 0.3em;
  /* Adjust to suit */
  margin: 2em auto 0em;
  /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */ }

.ribbon-name:before, .ribbon-name:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #67ffac;
  z-index: -1; }

.ribbon-name:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent; }

.ribbon-name:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent; }

.ribbon-name .ribbon-name-content:before, .ribbon-name .ribbon-name-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #00a44a transparent transparent transparent;
  bottom: -1em; }

.ribbon-name .ribbon-name-content:before {
  left: 0;
  border-width: 1em 0 0 1em; }

.ribbon-name .ribbon-name-content:after {
  right: 0;
  border-width: 1em 1em 0 0; }

.topbanner {
  width: 100%;
  color: #fff;
  text-align: center;
  height: 100px;
  background: #3d3935;
  text-transform: uppercase;
  position: absolute;
  font-size: 25px;
  padding-top: 100px;
  top: 0;
  left: 0;
  z-index: 6;
  overflow: hidden; }

#stars {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1920px 1732px #FFF , 1764px 579px #FFF , 1065px 602px #FFF , 1810px 466px #FFF , 1327px 203px #FFF , 1864px 680px #FFF , 1709px 680px #FFF , 923px 257px #FFF , 1098px 230px #FFF , 1478px 462px #FFF , 543px 493px #FFF , 1968px 1657px #FFF , 998px 300px #FFF , 349px 46px #FFF , 837px 1529px #FFF , 1741px 1271px #FFF , 216px 1956px #FFF , 133px 1414px #FFF , 1707px 1405px #FFF , 1046px 1127px #FFF , 520px 1382px #FFF , 1026px 897px #FFF , 647px 1779px #FFF , 1240px 635px #FFF , 1239px 819px #FFF , 220px 1464px #FFF , 1027px 555px #FFF , 1287px 1591px #FFF , 1000px 1232px #FFF , 121px 869px #FFF , 1193px 1518px #FFF , 334px 389px #FFF , 416px 1877px #FFF , 1265px 749px #FFF , 1130px 704px #FFF , 15px 521px #FFF , 1190px 209px #FFF , 197px 504px #FFF , 1121px 1628px #FFF , 1588px 545px #FFF , 1904px 344px #FFF , 335px 1632px #FFF , 752px 242px #FFF , 1038px 1758px #FFF , 982px 288px #FFF , 1437px 817px #FFF , 961px 419px #FFF , 246px 1291px #FFF , 1520px 270px #FFF , 6px 1164px #FFF , 1320px 1626px #FFF , 692px 367px #FFF , 302px 1090px #FFF , 964px 111px #FFF , 1242px 175px #FFF , 821px 916px #FFF , 1675px 53px #FFF , 69px 722px #FFF , 1015px 994px #FFF , 261px 236px #FFF , 468px 920px #FFF , 1431px 901px #FFF , 249px 1201px #FFF , 62px 1349px #FFF , 1114px 361px #FFF , 1621px 1948px #FFF , 1578px 674px #FFF , 1873px 1785px #FFF , 1151px 433px #FFF , 1755px 576px #FFF , 1964px 1943px #FFF , 1172px 832px #FFF , 1942px 1005px #FFF , 960px 1123px #FFF , 1094px 1332px #FFF , 1108px 1537px #FFF , 1636px 15px #FFF , 583px 790px #FFF , 1173px 1774px #FFF , 1454px 116px #FFF , 1071px 925px #FFF , 87px 1257px #FFF , 1603px 308px #FFF , 1208px 1244px #FFF , 1731px 1884px #FFF , 1275px 224px #FFF , 1369px 306px #FFF , 123px 1981px #FFF , 1930px 815px #FFF , 1142px 1569px #FFF , 1090px 1396px #FFF , 748px 1241px #FFF , 1756px 1149px #FFF , 661px 176px #FFF , 1439px 1813px #FFF , 1480px 974px #FFF , 1104px 1768px #FFF , 1550px 834px #FFF , 983px 701px #FFF , 1126px 1342px #FFF , 630px 587px #FFF , 744px 978px #FFF , 541px 1443px #FFF , 600px 304px #FFF , 502px 952px #FFF , 1070px 839px #FFF , 1209px 332px #FFF , 446px 1561px #FFF , 541px 135px #FFF , 1710px 1526px #FFF , 1743px 1626px #FFF , 1857px 540px #FFF , 99px 1783px #FFF , 314px 524px #FFF , 729px 956px #FFF , 1163px 1924px #FFF , 801px 1240px #FFF , 451px 1578px #FFF , 1522px 1337px #FFF , 1338px 96px #FFF , 1622px 103px #FFF , 63px 361px #FFF , 798px 1363px #FFF , 834px 1868px #FFF , 1306px 1011px #FFF , 792px 731px #FFF , 1641px 452px #FFF , 1699px 1844px #FFF , 1797px 1295px #FFF , 498px 1556px #FFF , 155px 655px #FFF , 1462px 995px #FFF , 1725px 200px #FFF , 44px 318px #FFF , 840px 1219px #FFF , 1934px 1616px #FFF , 246px 665px #FFF , 967px 704px #FFF , 522px 134px #FFF , 466px 1721px #FFF , 1047px 726px #FFF , 453px 1040px #FFF , 232px 1619px #FFF , 1140px 1000px #FFF , 1070px 666px #FFF , 1533px 120px #FFF , 780px 546px #FFF , 1637px 240px #FFF , 342px 1188px #FFF , 269px 1898px #FFF , 79px 1124px #FFF , 1483px 1472px #FFF , 719px 302px #FFF , 1611px 631px #FFF , 248px 1122px #FFF , 1111px 1640px #FFF , 1779px 780px #FFF , 1961px 1250px #FFF , 141px 316px #FFF , 1745px 808px #FFF , 256px 541px #FFF , 740px 1571px #FFF , 1108px 1679px #FFF , 369px 1410px #FFF , 1756px 1535px #FFF , 573px 2px #FFF , 1644px 627px #FFF , 137px 666px #FFF , 775px 1969px #FFF , 1548px 258px #FFF , 752px 1902px #FFF , 378px 1092px #FFF , 1280px 1663px #FFF , 798px 622px #FFF , 573px 1413px #FFF , 366px 1843px #FFF , 1974px 508px #FFF , 1726px 1014px #FFF , 1739px 950px #FFF , 426px 308px #FFF , 1278px 1613px #FFF , 880px 1102px #FFF , 388px 1099px #FFF , 323px 356px #FFF , 698px 776px #FFF , 1415px 996px #FFF , 1633px 1770px #FFF , 479px 1417px #FFF , 1967px 1871px #FFF , 916px 780px #FFF , 1642px 1228px #FFF , 186px 694px #FFF , 1299px 1275px #FFF , 592px 568px #FFF , 330px 1270px #FFF , 1749px 670px #FFF , 20px 1423px #FFF , 1438px 1594px #FFF , 1041px 739px #FFF , 915px 519px #FFF , 690px 1063px #FFF , 558px 427px #FFF , 519px 1625px #FFF , 1892px 17px #FFF , 1175px 939px #FFF , 1675px 1359px #FFF , 1773px 445px #FFF , 1998px 1647px #FFF , 1352px 1291px #FFF , 1576px 1334px #FFF , 1554px 146px #FFF , 19px 1573px #FFF , 178px 685px #FFF , 1271px 1336px #FFF , 956px 631px #FFF , 431px 1149px #FFF , 1009px 899px #FFF , 830px 1477px #FFF , 1251px 176px #FFF , 818px 737px #FFF , 1607px 1927px #FFF , 1595px 1400px #FFF , 1902px 745px #FFF , 588px 315px #FFF , 1203px 886px #FFF , 214px 1026px #FFF , 1841px 714px #FFF , 382px 146px #FFF , 293px 96px #FFF , 511px 745px #FFF , 462px 1223px #FFF , 1512px 1229px #FFF , 1741px 682px #FFF , 1359px 1067px #FFF , 1970px 613px #FFF , 425px 1314px #FFF , 990px 1306px #FFF , 1406px 333px #FFF , 168px 465px #FFF , 724px 504px #FFF , 1782px 1221px #FFF , 826px 1474px #FFF , 1269px 765px #FFF , 1636px 277px #FFF , 282px 1469px #FFF , 1996px 626px #FFF , 1844px 633px #FFF , 1635px 58px #FFF , 935px 144px #FFF , 1516px 1402px #FFF , 922px 1713px #FFF , 297px 124px #FFF , 374px 1769px #FFF , 729px 94px #FFF , 1189px 753px #FFF , 718px 1341px #FFF , 326px 1375px #FFF , 1527px 1264px #FFF , 344px 295px #FFF , 1627px 145px #FFF , 213px 392px #FFF , 1456px 121px #FFF , 58px 1107px #FFF , 182px 310px #FFF , 1595px 550px #FFF , 1160px 1150px #FFF , 709px 1284px #FFF , 550px 1680px #FFF , 1159px 956px #FFF , 1486px 1022px #FFF , 1661px 1597px #FFF , 1392px 594px #FFF , 1205px 806px #FFF , 515px 1310px #FFF , 1925px 286px #FFF , 1468px 1447px #FFF , 535px 1910px #FFF , 106px 1858px #FFF , 1717px 1257px #FFF , 508px 754px #FFF , 1924px 484px #FFF , 1434px 260px #FFF , 945px 761px #FFF , 1381px 801px #FFF , 1472px 1404px #FFF , 832px 1157px #FFF , 783px 1588px #FFF , 858px 395px #FFF , 1533px 1px #FFF , 730px 821px #FFF , 1368px 552px #FFF , 1366px 938px #FFF , 528px 830px #FFF , 1762px 463px #FFF , 292px 1735px #FFF , 781px 1490px #FFF , 646px 1091px #FFF , 289px 833px #FFF , 1691px 43px #FFF , 1448px 501px #FFF , 1246px 1152px #FFF , 1462px 910px #FFF , 987px 1267px #FFF , 362px 1303px #FFF , 670px 1748px #FFF , 564px 138px #FFF , 461px 1264px #FFF , 1661px 1509px #FFF , 910px 1144px #FFF , 771px 821px #FFF , 43px 798px #FFF , 270px 1149px #FFF , 774px 932px #FFF , 1066px 1085px #FFF , 362px 146px #FFF , 1261px 1821px #FFF , 1724px 1301px #FFF , 51px 1157px #FFF , 1717px 741px #FFF , 1210px 1589px #FFF , 1374px 1769px #FFF , 1029px 635px #FFF , 1813px 2px #FFF , 1894px 1713px #FFF , 1697px 105px #FFF , 1215px 703px #FFF , 507px 851px #FFF , 1946px 1713px #FFF , 128px 241px #FFF , 1702px 1980px #FFF , 1857px 790px #FFF , 1832px 1828px #FFF , 1025px 310px #FFF , 1114px 504px #FFF , 796px 405px #FFF , 1870px 1014px #FFF , 881px 350px #FFF , 713px 1077px #FFF , 815px 1991px #FFF , 1693px 1785px #FFF , 750px 1027px #FFF , 1436px 380px #FFF , 420px 923px #FFF , 854px 1550px #FFF , 667px 1872px #FFF , 1986px 484px #FFF , 1916px 1160px #FFF , 1855px 1159px #FFF , 1661px 371px #FFF , 516px 1574px #FFF , 1550px 892px #FFF , 1653px 1031px #FFF , 1278px 1047px #FFF , 739px 1238px #FFF , 994px 1770px #FFF , 92px 524px #FFF , 1286px 1267px #FFF , 589px 1759px #FFF , 1458px 1810px #FFF , 467px 968px #FFF , 326px 1065px #FFF , 1343px 1701px #FFF , 1622px 1976px #FFF , 1605px 1804px #FFF , 608px 58px #FFF , 393px 1757px #FFF , 1241px 1726px #FFF , 1794px 1545px #FFF , 1704px 452px #FFF , 1094px 643px #FFF , 1390px 1559px #FFF , 106px 883px #FFF , 1059px 1246px #FFF , 1568px 405px #FFF , 1210px 1917px #FFF , 1615px 1481px #FFF , 139px 942px #FFF , 586px 1779px #FFF , 578px 317px #FFF , 817px 654px #FFF , 1382px 1702px #FFF , 1106px 1598px #FFF , 1810px 1694px #FFF , 1299px 1756px #FFF , 622px 1366px #FFF , 1848px 862px #FFF , 762px 515px #FFF , 1213px 217px #FFF , 1957px 764px #FFF , 1465px 1968px #FFF , 1089px 1930px #FFF , 803px 652px #FFF , 583px 1116px #FFF , 906px 1674px #FFF , 824px 1260px #FFF , 634px 1709px #FFF , 1270px 267px #FFF , 173px 1611px #FFF , 1725px 295px #FFF , 1912px 454px #FFF , 1911px 1000px #FFF , 121px 1114px #FFF , 1406px 1752px #FFF , 1283px 502px #FFF , 240px 948px #FFF , 137px 841px #FFF , 177px 1816px #FFF , 1795px 335px #FFF , 442px 287px #FFF , 1239px 851px #FFF , 1603px 1967px #FFF , 1829px 772px #FFF , 312px 1598px #FFF , 607px 613px #FFF , 582px 715px #FFF , 300px 930px #FFF , 1869px 1283px #FFF , 1457px 1353px #FFF , 260px 691px #FFF , 1777px 1879px #FFF , 946px 1036px #FFF , 515px 918px #FFF , 1506px 1607px #FFF , 1994px 890px #FFF , 1749px 673px #FFF , 1524px 1314px #FFF , 1164px 35px #FFF , 901px 1396px #FFF , 1839px 467px #FFF , 1919px 495px #FFF , 726px 896px #FFF , 1480px 328px #FFF , 1322px 1740px #FFF , 373px 1559px #FFF , 1145px 655px #FFF , 914px 256px #FFF , 1012px 1032px #FFF , 356px 140px #FFF , 342px 842px #FFF , 1759px 775px #FFF , 858px 1151px #FFF , 1396px 1445px #FFF , 747px 1526px #FFF , 1158px 1783px #FFF , 962px 1246px #FFF , 905px 911px #FFF , 277px 1415px #FFF , 581px 1622px #FFF , 500px 652px #FFF , 32px 148px #FFF , 1524px 1215px #FFF , 1274px 287px #FFF , 1938px 529px #FFF , 17px 937px #FFF , 324px 1353px #FFF , 1373px 1260px #FFF , 731px 1984px #FFF , 879px 651px #FFF , 9px 1531px #FFF , 423px 310px #FFF , 701px 290px #FFF , 586px 1197px #FFF , 574px 535px #FFF , 282px 319px #FFF , 1527px 394px #FFF , 7px 1340px #FFF , 106px 1330px #FFF , 906px 59px #FFF , 126px 1479px #FFF , 219px 1481px #FFF , 1185px 891px #FFF , 1564px 1428px #FFF , 780px 73px #FFF , 1355px 1773px #FFF , 50px 433px #FFF , 616px 1027px #FFF , 857px 133px #FFF , 202px 949px #FFF , 794px 1222px #FFF , 294px 492px #FFF , 796px 935px #FFF , 871px 1963px #FFF , 1916px 138px #FFF , 1225px 747px #FFF , 1495px 1634px #FFF , 499px 426px #FFF , 1374px 1678px #FFF , 1574px 217px #FFF , 846px 1871px #FFF , 1278px 1474px #FFF , 83px 1767px #FFF , 1255px 331px #FFF , 435px 1765px #FFF , 376px 406px #FFF , 1030px 1781px #FFF , 15px 1187px #FFF , 1508px 651px #FFF , 244px 1084px #FFF , 1688px 626px #FFF , 12px 1150px #FFF , 515px 1427px #FFF , 1914px 1255px #FFF , 117px 1267px #FFF , 239px 1910px #FFF , 1909px 862px #FFF , 698px 223px #FFF , 1591px 1321px #FFF , 729px 1169px #FFF , 297px 1055px #FFF , 1112px 1343px #FFF , 218px 261px #FFF , 1997px 367px #FFF , 1952px 554px #FFF , 1359px 717px #FFF , 365px 1178px #FFF , 1499px 1173px #FFF , 461px 640px #FFF , 538px 1584px #FFF , 1245px 1710px #FFF , 1754px 1050px #FFF , 864px 656px #FFF , 1461px 1712px #FFF , 1228px 485px #FFF , 828px 362px #FFF , 1920px 471px #FFF , 881px 243px #FFF , 214px 1351px #FFF , 1239px 1396px #FFF , 1546px 275px #FFF , 561px 64px #FFF , 765px 1627px #FFF , 1428px 1544px #FFF , 868px 720px #FFF , 203px 477px #FFF , 1729px 298px #FFF , 105px 403px #FFF , 1537px 1840px #FFF , 1161px 1618px #FFF , 399px 1848px #FFF , 286px 703px #FFF , 1395px 268px #FFF , 561px 1245px #FFF , 1145px 871px #FFF , 1850px 1916px #FFF , 1376px 1419px #FFF , 1840px 872px #FFF , 739px 1729px #FFF , 737px 717px #FFF , 839px 1369px #FFF , 1921px 1595px #FFF , 538px 913px #FFF , 1886px 1800px #FFF , 1976px 1202px #FFF , 1595px 1069px #FFF , 338px 651px #FFF , 1581px 369px #FFF , 1947px 1695px #FFF , 528px 986px #FFF , 1239px 1027px #FFF , 647px 823px #FFF , 1211px 1925px #FFF , 1349px 1319px #FFF , 1425px 113px #FFF , 578px 819px #FFF , 1250px 1876px #FFF , 850px 1500px #FFF , 346px 1289px #FFF , 1848px 1193px #FFF , 1542px 50px #FFF , 370px 1836px #FFF , 1945px 1074px #FFF , 1118px 1916px #FFF , 1182px 1970px #FFF , 827px 474px #FFF , 597px 1712px #FFF , 893px 63px #FFF , 1072px 787px #FFF , 292px 1026px #FFF , 270px 1323px #FFF , 1505px 1932px #FFF , 718px 1192px #FFF , 1515px 177px #FFF , 455px 12px #FFF , 1560px 191px #FFF , 747px 45px #FFF , 725px 854px #FFF , 1456px 1024px #FFF , 1205px 1986px #FFF , 1475px 1806px #FFF , 269px 1823px #FFF , 1595px 242px #FFF , 889px 1020px #FFF , 277px 192px #FFF , 467px 1659px #FFF , 1852px 1185px #FFF , 331px 44px #FFF , 1660px 1323px #FFF , 388px 1666px #FFF , 32px 612px #FFF , 471px 443px #FFF , 44px 35px #FFF , 997px 727px #FFF , 1708px 1130px #FFF , 1537px 1119px #FFF , 275px 478px #FFF , 1276px 1231px #FFF , 885px 669px #FFF , 560px 178px #FFF , 326px 1348px #FFF , 527px 442px #FFF , 1556px 1615px #FFF , 427px 1135px #FFF , 1502px 228px #FFF , 1335px 1583px #FFF , 1446px 732px #FFF , 1124px 1149px #FFF , 1026px 1404px #FFF , 1308px 1244px #FFF , 1547px 687px #FFF , 1982px 82px #FFF , 63px 1983px #FFF , 261px 423px #FFF , 280px 1546px #FFF , 449px 1166px #FFF , 684px 1132px #FFF , 1946px 754px #FFF , 616px 1936px #FFF , 1010px 1077px #FFF , 209px 1978px #FFF , 1313px 1892px #FFF , 1901px 1154px #FFF , 33px 889px #FFF , 457px 326px #FFF , 1237px 45px #FFF , 1211px 665px #FFF , 1055px 1110px #FFF , 1915px 1226px #FFF , 1513px 1395px #FFF , 1828px 1722px #FFF , 1927px 779px #FFF , 137px 630px #FFF , 1801px 906px #FFF , 414px 1345px #FFF , 1616px 545px #FFF , 293px 1130px #FFF , 1973px 826px #FFF , 303px 362px #FFF , 786px 1956px #FFF , 1486px 1132px #FFF , 227px 470px #FFF , 518px 1955px #FFF , 1329px 989px #FFF , 1346px 445px #FFF , 1px 301px #FFF , 1433px 1967px #FFF , 840px 1591px #FFF , 1739px 1166px #FFF , 1139px 824px #FFF , 900px 99px #FFF , 584px 1215px #FFF , 776px 259px #FFF , 948px 18px #FFF , 805px 1588px #FFF , 1828px 1185px #FFF , 710px 249px #FFF , 1204px 821px #FFF , 896px 904px #FFF , 1242px 1899px #FFF , 491px 1344px #FFF , 370px 1935px #FFF , 34px 501px #FFF , 1511px 194px #FFF , 1359px 1399px #FFF , 1085px 1947px #FFF , 1239px 513px #FFF , 1597px 841px #FFF , 1903px 1842px #FFF , 1860px 328px #FFF , 330px 1549px #FFF , 431px 1978px #FFF , 1713px 1790px #FFF , 545px 1150px #FFF , 106px 126px #FFF , 708px 1299px #FFF , 493px 421px #FFF , 821px 1848px #FFF , 362px 1736px #FFF , 856px 1521px #FFF , 1608px 1023px #FFF , 866px 1483px #FFF , 1834px 658px #FFF , 1803px 987px #FFF , 1364px 1376px #FFF , 1654px 1352px #FFF , 604px 729px #FFF , 1989px 399px #FFF , 1919px 1144px #FFF , 1768px 159px #FFF , 368px 731px #FFF , 1396px 826px #FFF;
  animation: animStar 50s linear infinite; }

#stars :after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1920px 1732px #FFF , 1764px 579px #FFF , 1065px 602px #FFF , 1810px 466px #FFF , 1327px 203px #FFF , 1864px 680px #FFF , 1709px 680px #FFF , 923px 257px #FFF , 1098px 230px #FFF , 1478px 462px #FFF , 543px 493px #FFF , 1968px 1657px #FFF , 998px 300px #FFF , 349px 46px #FFF , 837px 1529px #FFF , 1741px 1271px #FFF , 216px 1956px #FFF , 133px 1414px #FFF , 1707px 1405px #FFF , 1046px 1127px #FFF , 520px 1382px #FFF , 1026px 897px #FFF , 647px 1779px #FFF , 1240px 635px #FFF , 1239px 819px #FFF , 220px 1464px #FFF , 1027px 555px #FFF , 1287px 1591px #FFF , 1000px 1232px #FFF , 121px 869px #FFF , 1193px 1518px #FFF , 334px 389px #FFF , 416px 1877px #FFF , 1265px 749px #FFF , 1130px 704px #FFF , 15px 521px #FFF , 1190px 209px #FFF , 197px 504px #FFF , 1121px 1628px #FFF , 1588px 545px #FFF , 1904px 344px #FFF , 335px 1632px #FFF , 752px 242px #FFF , 1038px 1758px #FFF , 982px 288px #FFF , 1437px 817px #FFF , 961px 419px #FFF , 246px 1291px #FFF , 1520px 270px #FFF , 6px 1164px #FFF , 1320px 1626px #FFF , 692px 367px #FFF , 302px 1090px #FFF , 964px 111px #FFF , 1242px 175px #FFF , 821px 916px #FFF , 1675px 53px #FFF , 69px 722px #FFF , 1015px 994px #FFF , 261px 236px #FFF , 468px 920px #FFF , 1431px 901px #FFF , 249px 1201px #FFF , 62px 1349px #FFF , 1114px 361px #FFF , 1621px 1948px #FFF , 1578px 674px #FFF , 1873px 1785px #FFF , 1151px 433px #FFF , 1755px 576px #FFF , 1964px 1943px #FFF , 1172px 832px #FFF , 1942px 1005px #FFF , 960px 1123px #FFF , 1094px 1332px #FFF , 1108px 1537px #FFF , 1636px 15px #FFF , 583px 790px #FFF , 1173px 1774px #FFF , 1454px 116px #FFF , 1071px 925px #FFF , 87px 1257px #FFF , 1603px 308px #FFF , 1208px 1244px #FFF , 1731px 1884px #FFF , 1275px 224px #FFF , 1369px 306px #FFF , 123px 1981px #FFF , 1930px 815px #FFF , 1142px 1569px #FFF , 1090px 1396px #FFF , 748px 1241px #FFF , 1756px 1149px #FFF , 661px 176px #FFF , 1439px 1813px #FFF , 1480px 974px #FFF , 1104px 1768px #FFF , 1550px 834px #FFF , 983px 701px #FFF , 1126px 1342px #FFF , 630px 587px #FFF , 744px 978px #FFF , 541px 1443px #FFF , 600px 304px #FFF , 502px 952px #FFF , 1070px 839px #FFF , 1209px 332px #FFF , 446px 1561px #FFF , 541px 135px #FFF , 1710px 1526px #FFF , 1743px 1626px #FFF , 1857px 540px #FFF , 99px 1783px #FFF , 314px 524px #FFF , 729px 956px #FFF , 1163px 1924px #FFF , 801px 1240px #FFF , 451px 1578px #FFF , 1522px 1337px #FFF , 1338px 96px #FFF , 1622px 103px #FFF , 63px 361px #FFF , 798px 1363px #FFF , 834px 1868px #FFF , 1306px 1011px #FFF , 792px 731px #FFF , 1641px 452px #FFF , 1699px 1844px #FFF , 1797px 1295px #FFF , 498px 1556px #FFF , 155px 655px #FFF , 1462px 995px #FFF , 1725px 200px #FFF , 44px 318px #FFF , 840px 1219px #FFF , 1934px 1616px #FFF , 246px 665px #FFF , 967px 704px #FFF , 522px 134px #FFF , 466px 1721px #FFF , 1047px 726px #FFF , 453px 1040px #FFF , 232px 1619px #FFF , 1140px 1000px #FFF , 1070px 666px #FFF , 1533px 120px #FFF , 780px 546px #FFF , 1637px 240px #FFF , 342px 1188px #FFF , 269px 1898px #FFF , 79px 1124px #FFF , 1483px 1472px #FFF , 719px 302px #FFF , 1611px 631px #FFF , 248px 1122px #FFF , 1111px 1640px #FFF , 1779px 780px #FFF , 1961px 1250px #FFF , 141px 316px #FFF , 1745px 808px #FFF , 256px 541px #FFF , 740px 1571px #FFF , 1108px 1679px #FFF , 369px 1410px #FFF , 1756px 1535px #FFF , 573px 2px #FFF , 1644px 627px #FFF , 137px 666px #FFF , 775px 1969px #FFF , 1548px 258px #FFF , 752px 1902px #FFF , 378px 1092px #FFF , 1280px 1663px #FFF , 798px 622px #FFF , 573px 1413px #FFF , 366px 1843px #FFF , 1974px 508px #FFF , 1726px 1014px #FFF , 1739px 950px #FFF , 426px 308px #FFF , 1278px 1613px #FFF , 880px 1102px #FFF , 388px 1099px #FFF , 323px 356px #FFF , 698px 776px #FFF , 1415px 996px #FFF , 1633px 1770px #FFF , 479px 1417px #FFF , 1967px 1871px #FFF , 916px 780px #FFF , 1642px 1228px #FFF , 186px 694px #FFF , 1299px 1275px #FFF , 592px 568px #FFF , 330px 1270px #FFF , 1749px 670px #FFF , 20px 1423px #FFF , 1438px 1594px #FFF , 1041px 739px #FFF , 915px 519px #FFF , 690px 1063px #FFF , 558px 427px #FFF , 519px 1625px #FFF , 1892px 17px #FFF , 1175px 939px #FFF , 1675px 1359px #FFF , 1773px 445px #FFF , 1998px 1647px #FFF , 1352px 1291px #FFF , 1576px 1334px #FFF , 1554px 146px #FFF , 19px 1573px #FFF , 178px 685px #FFF , 1271px 1336px #FFF , 956px 631px #FFF , 431px 1149px #FFF , 1009px 899px #FFF , 830px 1477px #FFF , 1251px 176px #FFF , 818px 737px #FFF , 1607px 1927px #FFF , 1595px 1400px #FFF , 1902px 745px #FFF , 588px 315px #FFF , 1203px 886px #FFF , 214px 1026px #FFF , 1841px 714px #FFF , 382px 146px #FFF , 293px 96px #FFF , 511px 745px #FFF , 462px 1223px #FFF , 1512px 1229px #FFF , 1741px 682px #FFF , 1359px 1067px #FFF , 1970px 613px #FFF , 425px 1314px #FFF , 990px 1306px #FFF , 1406px 333px #FFF , 168px 465px #FFF , 724px 504px #FFF , 1782px 1221px #FFF , 826px 1474px #FFF , 1269px 765px #FFF , 1636px 277px #FFF , 282px 1469px #FFF , 1996px 626px #FFF , 1844px 633px #FFF , 1635px 58px #FFF , 935px 144px #FFF , 1516px 1402px #FFF , 922px 1713px #FFF , 297px 124px #FFF , 374px 1769px #FFF , 729px 94px #FFF , 1189px 753px #FFF , 718px 1341px #FFF , 326px 1375px #FFF , 1527px 1264px #FFF , 344px 295px #FFF , 1627px 145px #FFF , 213px 392px #FFF , 1456px 121px #FFF , 58px 1107px #FFF , 182px 310px #FFF , 1595px 550px #FFF , 1160px 1150px #FFF , 709px 1284px #FFF , 550px 1680px #FFF , 1159px 956px #FFF , 1486px 1022px #FFF , 1661px 1597px #FFF , 1392px 594px #FFF , 1205px 806px #FFF , 515px 1310px #FFF , 1925px 286px #FFF , 1468px 1447px #FFF , 535px 1910px #FFF , 106px 1858px #FFF , 1717px 1257px #FFF , 508px 754px #FFF , 1924px 484px #FFF , 1434px 260px #FFF , 945px 761px #FFF , 1381px 801px #FFF , 1472px 1404px #FFF , 832px 1157px #FFF , 783px 1588px #FFF , 858px 395px #FFF , 1533px 1px #FFF , 730px 821px #FFF , 1368px 552px #FFF , 1366px 938px #FFF , 528px 830px #FFF , 1762px 463px #FFF , 292px 1735px #FFF , 781px 1490px #FFF , 646px 1091px #FFF , 289px 833px #FFF , 1691px 43px #FFF , 1448px 501px #FFF , 1246px 1152px #FFF , 1462px 910px #FFF , 987px 1267px #FFF , 362px 1303px #FFF , 670px 1748px #FFF , 564px 138px #FFF , 461px 1264px #FFF , 1661px 1509px #FFF , 910px 1144px #FFF , 771px 821px #FFF , 43px 798px #FFF , 270px 1149px #FFF , 774px 932px #FFF , 1066px 1085px #FFF , 362px 146px #FFF , 1261px 1821px #FFF , 1724px 1301px #FFF , 51px 1157px #FFF , 1717px 741px #FFF , 1210px 1589px #FFF , 1374px 1769px #FFF , 1029px 635px #FFF , 1813px 2px #FFF , 1894px 1713px #FFF , 1697px 105px #FFF , 1215px 703px #FFF , 507px 851px #FFF , 1946px 1713px #FFF , 128px 241px #FFF , 1702px 1980px #FFF , 1857px 790px #FFF , 1832px 1828px #FFF , 1025px 310px #FFF , 1114px 504px #FFF , 796px 405px #FFF , 1870px 1014px #FFF , 881px 350px #FFF , 713px 1077px #FFF , 815px 1991px #FFF , 1693px 1785px #FFF , 750px 1027px #FFF , 1436px 380px #FFF , 420px 923px #FFF , 854px 1550px #FFF , 667px 1872px #FFF , 1986px 484px #FFF , 1916px 1160px #FFF , 1855px 1159px #FFF , 1661px 371px #FFF , 516px 1574px #FFF , 1550px 892px #FFF , 1653px 1031px #FFF , 1278px 1047px #FFF , 739px 1238px #FFF , 994px 1770px #FFF , 92px 524px #FFF , 1286px 1267px #FFF , 589px 1759px #FFF , 1458px 1810px #FFF , 467px 968px #FFF , 326px 1065px #FFF , 1343px 1701px #FFF , 1622px 1976px #FFF , 1605px 1804px #FFF , 608px 58px #FFF , 393px 1757px #FFF , 1241px 1726px #FFF , 1794px 1545px #FFF , 1704px 452px #FFF , 1094px 643px #FFF , 1390px 1559px #FFF , 106px 883px #FFF , 1059px 1246px #FFF , 1568px 405px #FFF , 1210px 1917px #FFF , 1615px 1481px #FFF , 139px 942px #FFF , 586px 1779px #FFF , 578px 317px #FFF , 817px 654px #FFF , 1382px 1702px #FFF , 1106px 1598px #FFF , 1810px 1694px #FFF , 1299px 1756px #FFF , 622px 1366px #FFF , 1848px 862px #FFF , 762px 515px #FFF , 1213px 217px #FFF , 1957px 764px #FFF , 1465px 1968px #FFF , 1089px 1930px #FFF , 803px 652px #FFF , 583px 1116px #FFF , 906px 1674px #FFF , 824px 1260px #FFF , 634px 1709px #FFF , 1270px 267px #FFF , 173px 1611px #FFF , 1725px 295px #FFF , 1912px 454px #FFF , 1911px 1000px #FFF , 121px 1114px #FFF , 1406px 1752px #FFF , 1283px 502px #FFF , 240px 948px #FFF , 137px 841px #FFF , 177px 1816px #FFF , 1795px 335px #FFF , 442px 287px #FFF , 1239px 851px #FFF , 1603px 1967px #FFF , 1829px 772px #FFF , 312px 1598px #FFF , 607px 613px #FFF , 582px 715px #FFF , 300px 930px #FFF , 1869px 1283px #FFF , 1457px 1353px #FFF , 260px 691px #FFF , 1777px 1879px #FFF , 946px 1036px #FFF , 515px 918px #FFF , 1506px 1607px #FFF , 1994px 890px #FFF , 1749px 673px #FFF , 1524px 1314px #FFF , 1164px 35px #FFF , 901px 1396px #FFF , 1839px 467px #FFF , 1919px 495px #FFF , 726px 896px #FFF , 1480px 328px #FFF , 1322px 1740px #FFF , 373px 1559px #FFF , 1145px 655px #FFF , 914px 256px #FFF , 1012px 1032px #FFF , 356px 140px #FFF , 342px 842px #FFF , 1759px 775px #FFF , 858px 1151px #FFF , 1396px 1445px #FFF , 747px 1526px #FFF , 1158px 1783px #FFF , 962px 1246px #FFF , 905px 911px #FFF , 277px 1415px #FFF , 581px 1622px #FFF , 500px 652px #FFF , 32px 148px #FFF , 1524px 1215px #FFF , 1274px 287px #FFF , 1938px 529px #FFF , 17px 937px #FFF , 324px 1353px #FFF , 1373px 1260px #FFF , 731px 1984px #FFF , 879px 651px #FFF , 9px 1531px #FFF , 423px 310px #FFF , 701px 290px #FFF , 586px 1197px #FFF , 574px 535px #FFF , 282px 319px #FFF , 1527px 394px #FFF , 7px 1340px #FFF , 106px 1330px #FFF , 906px 59px #FFF , 126px 1479px #FFF , 219px 1481px #FFF , 1185px 891px #FFF , 1564px 1428px #FFF , 780px 73px #FFF , 1355px 1773px #FFF , 50px 433px #FFF , 616px 1027px #FFF , 857px 133px #FFF , 202px 949px #FFF , 794px 1222px #FFF , 294px 492px #FFF , 796px 935px #FFF , 871px 1963px #FFF , 1916px 138px #FFF , 1225px 747px #FFF , 1495px 1634px #FFF , 499px 426px #FFF , 1374px 1678px #FFF , 1574px 217px #FFF , 846px 1871px #FFF , 1278px 1474px #FFF , 83px 1767px #FFF , 1255px 331px #FFF , 435px 1765px #FFF , 376px 406px #FFF , 1030px 1781px #FFF , 15px 1187px #FFF , 1508px 651px #FFF , 244px 1084px #FFF , 1688px 626px #FFF , 12px 1150px #FFF , 515px 1427px #FFF , 1914px 1255px #FFF , 117px 1267px #FFF , 239px 1910px #FFF , 1909px 862px #FFF , 698px 223px #FFF , 1591px 1321px #FFF , 729px 1169px #FFF , 297px 1055px #FFF , 1112px 1343px #FFF , 218px 261px #FFF , 1997px 367px #FFF , 1952px 554px #FFF , 1359px 717px #FFF , 365px 1178px #FFF , 1499px 1173px #FFF , 461px 640px #FFF , 538px 1584px #FFF , 1245px 1710px #FFF , 1754px 1050px #FFF , 864px 656px #FFF , 1461px 1712px #FFF , 1228px 485px #FFF , 828px 362px #FFF , 1920px 471px #FFF , 881px 243px #FFF , 214px 1351px #FFF , 1239px 1396px #FFF , 1546px 275px #FFF , 561px 64px #FFF , 765px 1627px #FFF , 1428px 1544px #FFF , 868px 720px #FFF , 203px 477px #FFF , 1729px 298px #FFF , 105px 403px #FFF , 1537px 1840px #FFF , 1161px 1618px #FFF , 399px 1848px #FFF , 286px 703px #FFF , 1395px 268px #FFF , 561px 1245px #FFF , 1145px 871px #FFF , 1850px 1916px #FFF , 1376px 1419px #FFF , 1840px 872px #FFF , 739px 1729px #FFF , 737px 717px #FFF , 839px 1369px #FFF , 1921px 1595px #FFF , 538px 913px #FFF , 1886px 1800px #FFF , 1976px 1202px #FFF , 1595px 1069px #FFF , 338px 651px #FFF , 1581px 369px #FFF , 1947px 1695px #FFF , 528px 986px #FFF , 1239px 1027px #FFF , 647px 823px #FFF , 1211px 1925px #FFF , 1349px 1319px #FFF , 1425px 113px #FFF , 578px 819px #FFF , 1250px 1876px #FFF , 850px 1500px #FFF , 346px 1289px #FFF , 1848px 1193px #FFF , 1542px 50px #FFF , 370px 1836px #FFF , 1945px 1074px #FFF , 1118px 1916px #FFF , 1182px 1970px #FFF , 827px 474px #FFF , 597px 1712px #FFF , 893px 63px #FFF , 1072px 787px #FFF , 292px 1026px #FFF , 270px 1323px #FFF , 1505px 1932px #FFF , 718px 1192px #FFF , 1515px 177px #FFF , 455px 12px #FFF , 1560px 191px #FFF , 747px 45px #FFF , 725px 854px #FFF , 1456px 1024px #FFF , 1205px 1986px #FFF , 1475px 1806px #FFF , 269px 1823px #FFF , 1595px 242px #FFF , 889px 1020px #FFF , 277px 192px #FFF , 467px 1659px #FFF , 1852px 1185px #FFF , 331px 44px #FFF , 1660px 1323px #FFF , 388px 1666px #FFF , 32px 612px #FFF , 471px 443px #FFF , 44px 35px #FFF , 997px 727px #FFF , 1708px 1130px #FFF , 1537px 1119px #FFF , 275px 478px #FFF , 1276px 1231px #FFF , 885px 669px #FFF , 560px 178px #FFF , 326px 1348px #FFF , 527px 442px #FFF , 1556px 1615px #FFF , 427px 1135px #FFF , 1502px 228px #FFF , 1335px 1583px #FFF , 1446px 732px #FFF , 1124px 1149px #FFF , 1026px 1404px #FFF , 1308px 1244px #FFF , 1547px 687px #FFF , 1982px 82px #FFF , 63px 1983px #FFF , 261px 423px #FFF , 280px 1546px #FFF , 449px 1166px #FFF , 684px 1132px #FFF , 1946px 754px #FFF , 616px 1936px #FFF , 1010px 1077px #FFF , 209px 1978px #FFF , 1313px 1892px #FFF , 1901px 1154px #FFF , 33px 889px #FFF , 457px 326px #FFF , 1237px 45px #FFF , 1211px 665px #FFF , 1055px 1110px #FFF , 1915px 1226px #FFF , 1513px 1395px #FFF , 1828px 1722px #FFF , 1927px 779px #FFF , 137px 630px #FFF , 1801px 906px #FFF , 414px 1345px #FFF , 1616px 545px #FFF , 293px 1130px #FFF , 1973px 826px #FFF , 303px 362px #FFF , 786px 1956px #FFF , 1486px 1132px #FFF , 227px 470px #FFF , 518px 1955px #FFF , 1329px 989px #FFF , 1346px 445px #FFF , 1px 301px #FFF , 1433px 1967px #FFF , 840px 1591px #FFF , 1739px 1166px #FFF , 1139px 824px #FFF , 900px 99px #FFF , 584px 1215px #FFF , 776px 259px #FFF , 948px 18px #FFF , 805px 1588px #FFF , 1828px 1185px #FFF , 710px 249px #FFF , 1204px 821px #FFF , 896px 904px #FFF , 1242px 1899px #FFF , 491px 1344px #FFF , 370px 1935px #FFF , 34px 501px #FFF , 1511px 194px #FFF , 1359px 1399px #FFF , 1085px 1947px #FFF , 1239px 513px #FFF , 1597px 841px #FFF , 1903px 1842px #FFF , 1860px 328px #FFF , 330px 1549px #FFF , 431px 1978px #FFF , 1713px 1790px #FFF , 545px 1150px #FFF , 106px 126px #FFF , 708px 1299px #FFF , 493px 421px #FFF , 821px 1848px #FFF , 362px 1736px #FFF , 856px 1521px #FFF , 1608px 1023px #FFF , 866px 1483px #FFF , 1834px 658px #FFF , 1803px 987px #FFF , 1364px 1376px #FFF , 1654px 1352px #FFF , 604px 729px #FFF , 1989px 399px #FFF , 1919px 1144px #FFF , 1768px 159px #FFF , 368px 731px #FFF , 1396px 826px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1816px 392px #FFF , 1962px 622px #FFF , 726px 674px #FFF , 18px 227px #FFF , 82px 147px #FFF , 1127px 138px #FFF , 1691px 258px #FFF , 916px 823px #FFF , 1951px 1921px #FFF , 519px 1967px #FFF , 1827px 360px #FFF , 1711px 1151px #FFF , 765px 754px #FFF , 296px 937px #FFF , 1889px 1098px #FFF , 1059px 1596px #FFF , 55px 1560px #FFF , 903px 636px #FFF , 1927px 1044px #FFF , 640px 241px #FFF , 439px 1523px #FFF , 1367px 1858px #FFF , 1271px 1077px #FFF , 1874px 615px #FFF , 1953px 1733px #FFF , 557px 31px #FFF , 236px 437px #FFF , 1720px 1862px #FFF , 1629px 1535px #FFF , 1402px 1837px #FFF , 1834px 1723px #FFF , 310px 960px #FFF , 1173px 560px #FFF , 127px 1812px #FFF , 1427px 1898px #FFF , 1655px 1668px #FFF , 1897px 1871px #FFF , 418px 1184px #FFF , 943px 1310px #FFF , 1323px 951px #FFF , 34px 1321px #FFF , 536px 1236px #FFF , 1046px 1198px #FFF , 1839px 1162px #FFF , 1316px 1205px #FFF , 1397px 244px #FFF , 275px 1546px #FFF , 587px 1171px #FFF , 374px 1957px #FFF , 1381px 946px #FFF , 139px 723px #FFF , 803px 139px #FFF , 578px 290px #FFF , 1544px 1828px #FFF , 997px 1522px #FFF , 769px 1363px #FFF , 1505px 95px #FFF , 1622px 250px #FFF , 750px 210px #FFF , 73px 854px #FFF , 1798px 1430px #FFF , 1657px 815px #FFF , 307px 1837px #FFF , 1004px 1923px #FFF , 1047px 387px #FFF , 369px 1996px #FFF , 1856px 635px #FFF , 798px 2px #FFF , 904px 1315px #FFF , 1586px 1751px #FFF , 386px 294px #FFF , 1040px 1920px #FFF , 1532px 1376px #FFF , 1817px 908px #FFF , 1528px 1089px #FFF , 47px 923px #FFF , 1357px 923px #FFF , 892px 460px #FFF , 689px 1818px #FFF , 1033px 302px #FFF , 777px 1282px #FFF , 185px 623px #FFF , 1245px 867px #FFF , 901px 1534px #FFF , 900px 1516px #FFF , 1981px 848px #FFF , 1324px 637px #FFF , 790px 1183px #FFF , 996px 1643px #FFF , 1007px 1507px #FFF , 1168px 1369px #FFF , 1711px 1224px #FFF , 56px 1162px #FFF , 1195px 671px #FFF , 594px 514px #FFF , 395px 200px #FFF , 636px 471px #FFF , 1628px 960px #FFF , 389px 1831px #FFF , 1873px 350px #FFF , 679px 627px #FFF , 226px 1522px #FFF , 1759px 923px #FFF , 1361px 561px #FFF , 706px 1716px #FFF , 79px 1512px #FFF , 1958px 1493px #FFF , 1225px 1237px #FFF , 1347px 631px #FFF , 1551px 748px #FFF , 430px 981px #FFF , 1770px 1157px #FFF , 492px 630px #FFF , 1820px 14px #FFF , 429px 553px #FFF , 1345px 92px #FFF , 1392px 1952px #FFF , 900px 624px #FFF , 1470px 657px #FFF , 1121px 435px #FFF , 925px 1882px #FFF , 577px 1284px #FFF , 1011px 1382px #FFF , 875px 786px #FFF , 7px 363px #FFF , 819px 727px #FFF , 1338px 1808px #FFF , 431px 532px #FFF , 1558px 1829px #FFF , 143px 491px #FFF , 368px 1869px #FFF , 25px 880px #FFF , 555px 731px #FFF , 1389px 1659px #FFF , 1872px 1253px #FFF , 267px 412px #FFF , 795px 337px #FFF , 1982px 1837px #FFF , 1714px 1589px #FFF , 1340px 1571px #FFF , 1880px 1964px #FFF , 391px 689px #FFF , 297px 1253px #FFF , 132px 1339px #FFF , 1095px 1654px #FFF , 1784px 552px #FFF , 800px 1895px #FFF , 136px 1168px #FFF , 170px 77px #FFF , 1631px 1810px #FFF , 1988px 1257px #FFF , 1588px 1578px #FFF , 556px 86px #FFF , 1553px 1304px #FFF , 202px 674px #FFF , 112px 1071px #FFF , 1811px 159px #FFF , 1544px 455px #FFF , 372px 203px #FFF , 1767px 885px #FFF , 959px 132px #FFF , 19px 1917px #FFF , 481px 1594px #FFF , 976px 1923px #FFF , 98px 124px #FFF , 871px 425px #FFF , 390px 111px #FFF , 1669px 851px #FFF , 304px 893px #FFF , 1786px 242px #FFF , 1933px 1409px #FFF , 1535px 1916px #FFF , 1674px 1510px #FFF , 967px 46px #FFF , 624px 1987px #FFF , 1300px 971px #FFF , 629px 946px #FFF , 608px 1870px #FFF , 809px 1369px #FFF , 1189px 289px #FFF , 486px 538px #FFF , 1246px 855px #FFF , 1272px 1881px #FFF , 695px 1819px #FFF , 1454px 1498px #FFF , 1837px 1358px #FFF , 734px 840px #FFF , 107px 1269px #FFF , 1433px 1835px #FFF , 331px 1772px #FFF , 189px 542px #FFF , 567px 1574px #FFF , 825px 1484px #FFF , 509px 601px #FFF , 268px 1742px #FFF , 1505px 141px #FFF , 1566px 1257px #FFF , 643px 563px #FFF , 1693px 1664px #FFF , 785px 416px #FFF;
  animation: animStar 100s linear infinite; }

#stars2 :after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1816px 392px #FFF , 1962px 622px #FFF , 726px 674px #FFF , 18px 227px #FFF , 82px 147px #FFF , 1127px 138px #FFF , 1691px 258px #FFF , 916px 823px #FFF , 1951px 1921px #FFF , 519px 1967px #FFF , 1827px 360px #FFF , 1711px 1151px #FFF , 765px 754px #FFF , 296px 937px #FFF , 1889px 1098px #FFF , 1059px 1596px #FFF , 55px 1560px #FFF , 903px 636px #FFF , 1927px 1044px #FFF , 640px 241px #FFF , 439px 1523px #FFF , 1367px 1858px #FFF , 1271px 1077px #FFF , 1874px 615px #FFF , 1953px 1733px #FFF , 557px 31px #FFF , 236px 437px #FFF , 1720px 1862px #FFF , 1629px 1535px #FFF , 1402px 1837px #FFF , 1834px 1723px #FFF , 310px 960px #FFF , 1173px 560px #FFF , 127px 1812px #FFF , 1427px 1898px #FFF , 1655px 1668px #FFF , 1897px 1871px #FFF , 418px 1184px #FFF , 943px 1310px #FFF , 1323px 951px #FFF , 34px 1321px #FFF , 536px 1236px #FFF , 1046px 1198px #FFF , 1839px 1162px #FFF , 1316px 1205px #FFF , 1397px 244px #FFF , 275px 1546px #FFF , 587px 1171px #FFF , 374px 1957px #FFF , 1381px 946px #FFF , 139px 723px #FFF , 803px 139px #FFF , 578px 290px #FFF , 1544px 1828px #FFF , 997px 1522px #FFF , 769px 1363px #FFF , 1505px 95px #FFF , 1622px 250px #FFF , 750px 210px #FFF , 73px 854px #FFF , 1798px 1430px #FFF , 1657px 815px #FFF , 307px 1837px #FFF , 1004px 1923px #FFF , 1047px 387px #FFF , 369px 1996px #FFF , 1856px 635px #FFF , 798px 2px #FFF , 904px 1315px #FFF , 1586px 1751px #FFF , 386px 294px #FFF , 1040px 1920px #FFF , 1532px 1376px #FFF , 1817px 908px #FFF , 1528px 1089px #FFF , 47px 923px #FFF , 1357px 923px #FFF , 892px 460px #FFF , 689px 1818px #FFF , 1033px 302px #FFF , 777px 1282px #FFF , 185px 623px #FFF , 1245px 867px #FFF , 901px 1534px #FFF , 900px 1516px #FFF , 1981px 848px #FFF , 1324px 637px #FFF , 790px 1183px #FFF , 996px 1643px #FFF , 1007px 1507px #FFF , 1168px 1369px #FFF , 1711px 1224px #FFF , 56px 1162px #FFF , 1195px 671px #FFF , 594px 514px #FFF , 395px 200px #FFF , 636px 471px #FFF , 1628px 960px #FFF , 389px 1831px #FFF , 1873px 350px #FFF , 679px 627px #FFF , 226px 1522px #FFF , 1759px 923px #FFF , 1361px 561px #FFF , 706px 1716px #FFF , 79px 1512px #FFF , 1958px 1493px #FFF , 1225px 1237px #FFF , 1347px 631px #FFF , 1551px 748px #FFF , 430px 981px #FFF , 1770px 1157px #FFF , 492px 630px #FFF , 1820px 14px #FFF , 429px 553px #FFF , 1345px 92px #FFF , 1392px 1952px #FFF , 900px 624px #FFF , 1470px 657px #FFF , 1121px 435px #FFF , 925px 1882px #FFF , 577px 1284px #FFF , 1011px 1382px #FFF , 875px 786px #FFF , 7px 363px #FFF , 819px 727px #FFF , 1338px 1808px #FFF , 431px 532px #FFF , 1558px 1829px #FFF , 143px 491px #FFF , 368px 1869px #FFF , 25px 880px #FFF , 555px 731px #FFF , 1389px 1659px #FFF , 1872px 1253px #FFF , 267px 412px #FFF , 795px 337px #FFF , 1982px 1837px #FFF , 1714px 1589px #FFF , 1340px 1571px #FFF , 1880px 1964px #FFF , 391px 689px #FFF , 297px 1253px #FFF , 132px 1339px #FFF , 1095px 1654px #FFF , 1784px 552px #FFF , 800px 1895px #FFF , 136px 1168px #FFF , 170px 77px #FFF , 1631px 1810px #FFF , 1988px 1257px #FFF , 1588px 1578px #FFF , 556px 86px #FFF , 1553px 1304px #FFF , 202px 674px #FFF , 112px 1071px #FFF , 1811px 159px #FFF , 1544px 455px #FFF , 372px 203px #FFF , 1767px 885px #FFF , 959px 132px #FFF , 19px 1917px #FFF , 481px 1594px #FFF , 976px 1923px #FFF , 98px 124px #FFF , 871px 425px #FFF , 390px 111px #FFF , 1669px 851px #FFF , 304px 893px #FFF , 1786px 242px #FFF , 1933px 1409px #FFF , 1535px 1916px #FFF , 1674px 1510px #FFF , 967px 46px #FFF , 624px 1987px #FFF , 1300px 971px #FFF , 629px 946px #FFF , 608px 1870px #FFF , 809px 1369px #FFF , 1189px 289px #FFF , 486px 538px #FFF , 1246px 855px #FFF , 1272px 1881px #FFF , 695px 1819px #FFF , 1454px 1498px #FFF , 1837px 1358px #FFF , 734px 840px #FFF , 107px 1269px #FFF , 1433px 1835px #FFF , 331px 1772px #FFF , 189px 542px #FFF , 567px 1574px #FFF , 825px 1484px #FFF , 509px 601px #FFF , 268px 1742px #FFF , 1505px 141px #FFF , 1566px 1257px #FFF , 643px 563px #FFF , 1693px 1664px #FFF , 785px 416px #FFF; }

#stars3 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1611px 1117px #FFF , 1296px 1707px #FFF , 1461px 1872px #FFF , 1877px 1450px #FFF , 1206px 1106px #FFF , 310px 962px #FFF , 731px 1269px #FFF , 79px 548px #FFF , 1429px 396px #FFF , 1361px 266px #FFF , 175px 1236px #FFF , 64px 318px #FFF , 439px 1329px #FFF , 1985px 265px #FFF , 1543px 87px #FFF , 512px 804px #FFF , 192px 1271px #FFF , 658px 1699px #FFF , 1345px 1040px #FFF , 54px 96px #FFF , 366px 656px #FFF , 1151px 1730px #FFF , 1873px 446px #FFF , 1917px 1842px #FFF , 189px 1099px #FFF , 143px 318px #FFF , 1991px 1137px #FFF , 1840px 1357px #FFF , 1096px 1148px #FFF , 844px 1505px #FFF , 235px 1771px #FFF , 17px 1394px #FFF , 897px 467px #FFF , 515px 247px #FFF , 872px 1354px #FFF , 1583px 950px #FFF , 1667px 1668px #FFF , 1980px 281px #FFF , 277px 22px #FFF , 212px 1529px #FFF , 1279px 1576px #FFF , 1377px 1609px #FFF , 229px 1933px #FFF , 511px 1577px #FFF , 1483px 1924px #FFF , 730px 1663px #FFF , 1319px 1573px #FFF , 1223px 856px #FFF , 877px 1510px #FFF , 489px 877px #FFF , 542px 740px #FFF , 365px 421px #FFF , 742px 1775px #FFF , 1875px 221px #FFF , 911px 819px #FFF , 1713px 528px #FFF , 1770px 518px #FFF , 1111px 1957px #FFF , 1299px 1335px #FFF , 1668px 783px #FFF , 35px 1197px #FFF , 147px 1981px #FFF , 1162px 1489px #FFF , 1503px 1205px #FFF , 1561px 1587px #FFF , 142px 1088px #FFF , 219px 1176px #FFF , 1269px 1743px #FFF , 566px 1320px #FFF , 541px 730px #FFF , 1397px 1291px #FFF , 446px 1618px #FFF , 130px 1117px #FFF , 182px 1502px #FFF , 380px 1096px #FFF , 1301px 1717px #FFF , 128px 1278px #FFF , 20px 1311px #FFF , 1942px 1029px #FFF , 1406px 226px #FFF , 1466px 182px #FFF , 1102px 1778px #FFF , 665px 1959px #FFF , 1788px 779px #FFF , 1719px 951px #FFF , 968px 752px #FFF , 479px 1114px #FFF , 578px 1356px #FFF , 739px 1409px #FFF , 1473px 554px #FFF , 1130px 2px #FFF , 810px 958px #FFF , 1059px 104px #FFF , 1144px 1058px #FFF , 532px 857px #FFF , 910px 1786px #FFF , 1483px 1924px #FFF , 1094px 588px #FFF , 1683px 480px #FFF , 1904px 1010px #FFF;
  animation: animStar 150s linear infinite; }

#stars3 :after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1611px 1117px #FFF , 1296px 1707px #FFF , 1461px 1872px #FFF , 1877px 1450px #FFF , 1206px 1106px #FFF , 310px 962px #FFF , 731px 1269px #FFF , 79px 548px #FFF , 1429px 396px #FFF , 1361px 266px #FFF , 175px 1236px #FFF , 64px 318px #FFF , 439px 1329px #FFF , 1985px 265px #FFF , 1543px 87px #FFF , 512px 804px #FFF , 192px 1271px #FFF , 658px 1699px #FFF , 1345px 1040px #FFF , 54px 96px #FFF , 366px 656px #FFF , 1151px 1730px #FFF , 1873px 446px #FFF , 1917px 1842px #FFF , 189px 1099px #FFF , 143px 318px #FFF , 1991px 1137px #FFF , 1840px 1357px #FFF , 1096px 1148px #FFF , 844px 1505px #FFF , 235px 1771px #FFF , 17px 1394px #FFF , 897px 467px #FFF , 515px 247px #FFF , 872px 1354px #FFF , 1583px 950px #FFF , 1667px 1668px #FFF , 1980px 281px #FFF , 277px 22px #FFF , 212px 1529px #FFF , 1279px 1576px #FFF , 1377px 1609px #FFF , 229px 1933px #FFF , 511px 1577px #FFF , 1483px 1924px #FFF , 730px 1663px #FFF , 1319px 1573px #FFF , 1223px 856px #FFF , 877px 1510px #FFF , 489px 877px #FFF , 542px 740px #FFF , 365px 421px #FFF , 742px 1775px #FFF , 1875px 221px #FFF , 911px 819px #FFF , 1713px 528px #FFF , 1770px 518px #FFF , 1111px 1957px #FFF , 1299px 1335px #FFF , 1668px 783px #FFF , 35px 1197px #FFF , 147px 1981px #FFF , 1162px 1489px #FFF , 1503px 1205px #FFF , 1561px 1587px #FFF , 142px 1088px #FFF , 219px 1176px #FFF , 1269px 1743px #FFF , 566px 1320px #FFF , 541px 730px #FFF , 1397px 1291px #FFF , 446px 1618px #FFF , 130px 1117px #FFF , 182px 1502px #FFF , 380px 1096px #FFF , 1301px 1717px #FFF , 128px 1278px #FFF , 20px 1311px #FFF , 1942px 1029px #FFF , 1406px 226px #FFF , 1466px 182px #FFF , 1102px 1778px #FFF , 665px 1959px #FFF , 1788px 779px #FFF , 1719px 951px #FFF , 968px 752px #FFF , 479px 1114px #FFF , 578px 1356px #FFF , 739px 1409px #FFF , 1473px 554px #FFF , 1130px 2px #FFF , 810px 958px #FFF , 1059px 104px #FFF , 1144px 1058px #FFF , 532px 857px #FFF , 910px 1786px #FFF , 1483px 1924px #FFF , 1094px 588px #FFF , 1683px 480px #FFF , 1904px 1010px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@media only screen and (min-width: 700px) {
  .parallax__layer--base {
    width: 85%; }
  .quote {
    font-size: 1.7em; }
    .quote li {
      transform: rotateZ(-33deg) translateY(-138px) translateX(-374px);
      width: 180vw; }
      .quote li:first-of-type {
        margin-top: 0px; }
  .name-wrapper {
    width: 60%; }
  .portrait {
    width: 60%; } }

@media only screen and (min-width: 1000px) {
  .parallax__layer--base {
    width: 70%; }
  .quote li {
    width: 130vw; } }
